$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-black-transparent: rgba(0,0,0,0.5);
$Snow:#f5f5f5;


$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;
$text-font: "Monoton", ;
$blackops-font: "Black ops one", ;

#text{
    font-family: $text-font;
    font-size: 150px;
}
#text2{
    font-family: $blackops-font;
}


body {
    font-family: $body-font;
}

 h1,h2, h3 {
    font-family: $header-font;
}


.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
    min-height: 1000px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: $Snow;
}

.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    
}

#reserveButton {
    .modal-header {
    background-color: $color-teal;
    color: white;
    }
}

#loginButton {
    .modal-header {
    background-color: $color-mid;
    color: white;
    }
}

#hobby{
    background-image: url("/img/BG.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}
#cardimg{
    height: 400px;
    width: 600px;
}

#me{
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}
.jumbotronME {
    margin: 0;
    padding: 30px;
    min-height: 370px;
}
.jumbotronHobbies {
    margin: 0;
    padding: 30px;
    min-height: 1000px;
}


#cicleimg{
    border-radius: 50%;
}

.Gallery{
    column-count: 3;
    column-width: 33%;
}
#hbackground{
    background-image: linear-gradient(to right, #eeeeee, #52616b, #f5f5f5);
}
#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
  }


// Meeps code

#obiwan{
    background-color: black;
}

#pic {
   display:flex;
   justify-content: center;
   height: 500px;
   width: 375px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h5{
    font-family: 'Lato', ;
}

#scheduleSession{
    .modal-header{
        background-color:$color-coral;
        color: white;
    }
}
#portraitSession{
    .modal-header{
        background-color:$color-purp;
        color: white;
    }
}

